@import '../../../../static/style/css-public.color.scss';
@import '../../../../static/style/css-public.size.scss';
@import '../../../../static/style/css-public.scss';
$mb-size: $bottom-size-query; // 查询模块下方间距
.Product-Fishs {
  .Product-Fishs__query-panel {
    margin-bottom: $mb-size;
  }
  .Product-Fishs__operation {
    @include flex-row-start;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  .Product-Fishs__query-table {
  }
}
