/* 字体大小 */
$font-size-main: 14px; // 主要文字大小
$font-size-less: 13px; // 次要文字大小
$font-size-smaller: 12px; // 小文字文字大小

$font-size-h1: 38px; // h1标题文字大小
$font-size-h2: 30px; // h2标题文字大小
$font-size-h3: 24px; // h3标题文字大小
$font-size-h4: 20px; // h4标题文字大小
$font-size-h5: 16px; // h5标题文字大小

/* 模块间距的大小 */
$bottom-size-main: 20px; // 主要模块的间隔大小
