@import './variable.scss';

/* 单行文字溢出隐藏 */
%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

/* 多行文字溢出隐藏 */
%mul-text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 按钮相关样式 */
%defaultBtn {
  font-size: $buttonSize;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
%primaryBtn {
  @extend %defaultBtn;
  height: 60px;
  width: 160px;
  background: $primary;
  color: $white;
}

%defaultTypeBtn {
  @extend %defaultBtn;
  height: 60px;
  width: 160px;
  background: $white;
  color: $primary;
  border: 3px solid $primary;
}

%primaryFullSizeBtn {
  @extend %defaultBtn;
  height: 96px;
  width: 100%;
  background: $primary;
  color: $white;
  font-size: 38px;
}

/* 输入框的相关样式 */
%defaultInput {
  font-size: $inputSize;
  border: 2px solid $describe;
  width: 100%;
  height: 80px;
  color: $default;
  padding: 0 16px;

  &:focus {
    border: 2px solid $primary;
  }
}
