.Vegetables {
  .Vegetables__search-box {
    width: 240px;
  }
  .Vegetables__animation {
    margin: 20px 0;
    padding: 10px 0;
    padding-right: 30px;
    .btn-box {
      margin-bottom: 20px;
    }
  }
}
