.Vegetables {
  padding-bottom: 500px;

  .Vegetables__search-box {
    width: 240px;
  }
  .Vegetables__animation {
    margin: 20px 0;
    padding: 10px 0;
    padding-right: 30px;
    .btn-box {
      margin-bottom: 20px;
    }
    .time-box {
      padding-top: 20px;
    }
  }
}
.vm-box {
  width: 1000px;
  height: 200px;
  border: 1px solid #f00;
}
