@import '../../static/style/css-public.color.scss';
@import '../../static/style/css-public.size.scss';
.HomePage-TopBar {
  width: 100%;
  margin-bottom: $bottom-size-main;
  .HomePage-TopBar-contain {
    height: 60px;
    border: 1px solid $boder-color-grey;
  }
}
