@import '../../static/style/css-public.color.scss';
@import '../../static/style/css-public.size.scss';
@import '../../static//style//css-public.scss';

$tb-bg: #fff;
$tb-bdcolor: $bdgrey;
$tb-th-height: 45px;
$tb-td-height: 45px;
$tb-th-bgcolor: #fafafa;
$sort-icon-color: rgb(191, 191, 191);

@mixin cellstyle {
  height: $tb-td-height;
  border-right: 1px solid $tb-bdcolor;
  text-align: center;
}

@mixin triangular-icon {
  display: inline-block;
  width: 20px;
  height: 11px;
  mask-image: url(../../static/icon/ui/icon-triangular.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: bottom;
  background: $sort-icon-color;
}

.UI-Table {
  position: relative;
  border: 1px solid $tb-bdcolor;
  .UI-Table__empty {
    height: 200px;
    @include flex-column-center;
    .UI-Table__empty--icon {
      height: 100px;
      width: 100px;
      mask-image: url(../../static/icon/ui/icon-empty.svg);
      mask-repeat: no-repeat;
      mask-size: contain;
      background-color: rgba($bdgrey, 1);
    }
    .UI-Table__empty--txt {
      position: relative;
      top: -25px;
      left: -10px;
      color: $icon-grey;
    }
  }
  .UI-Table__contain {
    border-right: none;
    background: $tb-bg;
    overflow: auto;
    .UI-Table__wrap {
      position: relative;
      min-width: 800px;
    }
    &.contain-hide {
      opacity: 0;
    }
    &.contain-show {
      opacity: 1;
    }
  }
  table {
    &.UI-Table__table {
      width: 100%;

      thead {
        tr {
          background: $tb-th-bgcolor;
          border-bottom: 1px solid $tb-bdcolor;
        }
        th {
          @include cellstyle;
          font-weight: bold;
          height: $tb-th-height;
          cursor: pointer;
        }

        span {
          display: inline-block;

          vertical-align: middle;
        }
        .UI-Table__contain--sort {
          width: 20px;
        }
        .UI-Table__contain--sort--up {
          @include triangular-icon;
          transform: rotate(-180deg);
        }
        .UI-Table__contain--sort--down {
          @include triangular-icon;
          background: $sort-icon-color;
        }
        .sort-active {
          background: $primary;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid $tb-bdcolor;
          &:last-of-type {
            border: none;
          }
          &:hover {
            background: $tb-th-bgcolor;
          }
        }

        .UI-Table__table--cell--txt {
          text-align: center;
          display: inline-block;
          span {
            @include ellipsis;
            max-width: 80%;
            display: inline-block;
          }
        }

        .UI-Table__operation {
          @include flex-row-center;
          span.icon {
            margin-right: 10px;
            mask-repeat: no-repeat;
            mask-size: contain;
            cursor: pointer;
            background-color: $primary;

            &.detail {
              width: 30px;
              height: 30px;
              mask-image: url(../../static/icon/ui/icon-detail.svg);
            }

            &.modify {
              width: 28px;
              height: 28px;
              mask-image: url(../../static/icon/ui/icon-modify.svg);
            }

            &.delete {
              width: 25px;
              height: 25px;
              mask-image: url(../../static/icon/ui/icon-delete.svg);
            }
          }
        }
      }

      tr {
        td:last-of-type,
        th:last-of-type {
          border-right: none;
        }
      }

      td {
        @include cellstyle;
      }
    }

    /* 取消td和th边框 */
    &.UI-Table__table--no-td-border {
      thead {
        th {
          border-right: none;
        }
      }

      tbody {
        td {
          border-right: none;
        }
      }
    }
  }
}

.UI-Table__Pagination {
  text-align: right;
}
