.Layout {
  display: flex;
  border: 10px solid #f00;
  .layout-left {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px solid #000;
    justify-content: center;
    align-items: center;
  }
  .layout-right {
    display: flex;
    flex: 1;
    border-right: 1px solid #f00;
  }
  .active-select {
    color: red;
  }
}
